%title {
	
}

// H o m e
%sectores-title, .sectores-title {
    @extend %avant-book;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
}

%sectores-subtitle, .sectores-subtitle {
    @extend %candida-roman;
    font-size: 16px;
}

%soluciones-title, .soluciones-title {
    @extend %avant-demi;
    font-size: 28px;
    letter-spacing: .3px;
    line-height: 35px;
    @include under(mobile){
        font-size: 20px;
        line-height: 30px;
    }
}


// Proyectos
%proyectos-categoria, .proyectos-categoria {
    @extend %avant-book;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
    @include under(mobile){
        font-size: 12px;
        line-height: 16px;
    }
}

%proyectos-nombre, .proyectos-nombre {
    @extend %avant-demi;
    font-size: 20px;
    letter-spacing: .3px;
    line-height: 28px;
    text-transform: uppercase;
    @include under(mobile){
        font-size: 14px;
        line-height: 23px;
    }
}

%proyectos-extracto, .proyectos-extracto {
    @extend %candida-roman;
    font-size: 17px;
    line-height: 21px;
    @include under(mobile){
        font-size: 14px;
        line-height: 17px;
    }
}

// Single proyectos
%single-banner-categoria, .single-banner-categoria {
    @extend %proyectos-categoria;
    color: white;
}

%single-banner-proyecto, .single-banner-proyecto {
    @extend %proyectos-nombre;
    text-transform: uppercase;
    color: white;
    line-height: 30px;
}

%single-solucion-content, .single-solucion-content {
    @extend %avant-demi;
    font-size: 16px;
    letter-spacing: .3px;
    line-height: 23px;
}
